<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Features</title>
  <link rel="stylesheet" href="src/main.css">
</head>
<body>
  <div id="card">
    <header>{{ title | capitalize }}</header>
    <div v-html="content"></div>
    <div>
      <input
        id="itemForm"
        type="text"
        v-on:keypress.enter="addItem"
        v-model="input"
      />
      <button v-on:click="addItem">Add {{buttonText}}</button>
    </div>
    <ul>
      <li v-for="(item, index) in items">
        <button v-on:click="deleteItem">X</button>
        {{ item.text }}
      </li>
    </ul>
    <h4>totoal: {{total}}</h4>
  </div>

  <script src="src/vue.js"></script>
  <script src="src/lib.js"></script>
  <script src="src/main.js"></script>
</body>
</html>
